header {
  background: url(../images/penrod-portfolio-placeholder3.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

header h1 {
  font-weight: bold;
  color: rgba(255, 165, 0, 0.9);
}

header p {
  font-weight: lighter;
  color: rgba(255, 165, 0, 0.8);
  font-size: 1.6rem;
}

main {
  max-width: 900px;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}
